---
layout: default
---

<ul>
    {% for post in paginator.posts %}
      <li>
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}"><h2>{{ post.title }}</h2></a>
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
          <p>{{ post.content }}</p>
          {% if post.hn %}
          <hr>
          <p><strong>Comments</strong> on <a href="https://news.ycombinator.com/item?id={{ post.hn }}">Hacker News</a></p>
          <hr>
          {% endif %}
      </li>
    {% endfor %}
</ul>
